html,body{
    width:100%;
    background-color: white;
    margin:0;
    padding: 0;
}

#content{
    width:60%;
    margin: 0 auto;
    text-align: justify;
    padding:20px;
}

#content img{
    width: 100%;
}

#Back{
    position: absolute;
    left: 20px;
    top:  20px;
    cursor: pointer;    
}