*{
    margin: 0;
    padding: 0;
}
html,body{
    width:100%;
    background-color: white;
    margin:0;
    padding: 0;
}

header{
    border-bottom:1px solid blue;
    padding-bottom: 20px;
}

h4{
  margin:0;
}

.LeftSide{
    float: left;
}

.RightSide{
    float: right;
}

nav{
    width: 80%;
    margin:0 auto;
    margin-bottom: 5px;
}

ul li{
    list-style-type:none;
    margin-left: 15px;
    cursor: pointer;
}

#content{
    padding: 20px;
    width:60%;
    margin:0 auto;
}

.article{
    padding: 20px;
    display:flow-root;
    border-bottom:1px solid gray;
}

.article:hover h4{
   color:blue;
}

.article_image{
    float:left;
    width: 20%;
}

.article_image img{
    width: 90%;
}

.article_anotation{
    float:left;
    width: 80%;
    text-align: left;
}

.deleteButton img , .editButton img{
    height: 20px;
    float: left;
}

.deleteButton, .editButton{
    padding-top:10px;
    padding-right:10px;
    float: left;
    cursor: pointer;
}
